/* Colors
Primary
Yellow: hsl(47, 88%, 63%)
Neutral
White: hsl(0, 0%, 100%)
Grey: hsl(0, 0%, 50%)
Black: hsl(0, 0%, 7%)

Typography
Body Copy
Font size (paragraph): 16px
Font
Family: Figtree
Weights: 500, 800 */

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: auto;
}

#Logo {
  border-radius: 10px;
  display: block;
  margin: auto;
}

h3 {
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 8px;
  border-radius: 5px;
  font-size: 14px;
}

p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 3px;
  margin-left: 8px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin: 5px 8px 16px 8px;
  cursor: pointer;
}

h1:hover {
  background-color: transparent;
  color: deepskyblue;
}

#sentence {
  margin: 5px 8px 16px 8px;
  line-height: 1.4rem;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.profile-pic img {
  width: 32px;
}

#name {
  padding-left: 10px;
  cursor: pointer;
}

#name:hover {
  background-color: transparent;
  color: deepskyblue;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(0, 0%, 100%);
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px black;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 15px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
